/* ================================================================= */
/* Aesthetic changes compared to original theme (color, fonts, etc.) */
/* ================================================================= */

body { 
  font-family: "Avenir", "Avenir Next", "Helvetica Neue", "Arial", sans-serif; 
  font-weight: 300;
}

a {
  color: #578799;
  font-weight: 500;
}

b, strong {font-weight: 500;}

th{text-align: left;}

li{display: block }

.project-name{
  font-family: 'Avenir', sans-serif;
  font-weight: 500;
}

.project-tagline {
  font-size: 1.15rem;
  font-family: 'Avenir Next', 'Avenir', sans-serif;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 0;
}

.page-header { background-image: linear-gradient(120deg, #91AAB4, #3E606F);}

.main-content :first-child {margin-top: 10px;}

.main-content h2 { 
  color: #91AAB4; 
  font-weight: 600;
  display: inline-block;
  font-size: 1.7em;
  margin-top: 50px;
 }

.main-content h3 { 
  color: #3E606F; 
  font-weight: 500;
  display: inline-block;
  font-size: 1.4em;
}

.main-content h3:first-of-type {margin-top: 30px;}

.main-content h4 {
  color: #91AAB4;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 0px;
  display: inline;
}

.faq h4 {
    margin-top: 45px;
    display: block;
}

.faq h4:first-of-type {margin-top: 0px;}

.main-content ul {padding-left: 0;}

.main-content table {margin: 2rem 0;}

.main-content hr{margin: 0}

.main-content blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 700px;
}

.contents{
    margin-top: 45px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.2em;
}

.review{
    margin-top: 45px;
    margin-bottom: -10px;
    font-weight: 500;
    font-size: 1.2em;
}

#sign-up{margin-bottom: -100px;}

.quote-student {opacity: 0.6;}

footer{display: none;}

.recommendation{margin: 50px 0;}

.built-with{
  opacity: 0.3;
  font-size: 0.8em;
  text-align: center;
  margin-top: 75px;
}


/* ================================================================= */
/* Automatic numbering (1., 1.1, 1.2, etc. */ 
/* ================================================================= */

ol {counter-reset: item; padding: 0;}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; } 

.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.counter:before { 
  content: counters(item, ".") " "; 
  counter-increment: item;
}

ul li:before {     
  content: "\2022";     
  list-style-type: square;     
  padding-right: 10px; 
}

ol > li:before{
  font-size: 1.4em;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #3E606F;
}
